---
import { Image } from "@astrojs/image/components"

export type Props = {
  title: string;
  description: string;
  url: string;
  alt: string
  image: ImageMetadata;
}
const { title, description, url, image, alt } = Astro.props;
---

<a href={url} class="bg-white border-2 rounded-lg dark:bg-slate-900 dark:border-gray-700">
  <Image
    class="rounded-t-lg"
    src={image}
    alt={alt}
  />
  <div class="p-4">
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h3>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
  </div>
</a>
